extends layout

block content
  
  div#pageHead.container-fluid(style='height: 80px;')
    nav.navbar.navbar-default.navbar-fixed-top
      div.navbar-header
        a.navbar-brand(href='#pageHead' style='font-size: 40px; font-weight: bold;') Nengyun Zhang


        button.navbar-toggle(type='button' data-toggle='collapse' data-target='#navMenu')
          span.sr-only Navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar

      div#navMenu.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li.active
            a(href='#Home' data-toggle='tab') HOME
          li
            a(href='#Cv' data-toggle='tab') CV
          li
            a(href='#Projects' data-toggle='tab') PROJECTS
          li
            a(href='#Contact' data-toggle='tab') CONTACT



  div.tab-content(style='max-width: 1000px; margin: auto;')

    div#Home.tab-pane.fade.in.active(style='border: 2px solid orange; padding: 20px;')
      div.container
        div.row
          div.col-sm-6.col-md-5.col-lg-4.thumbnail
            img.img-responsive(src='images/myport.jpg' alt='my port')
          div.col-sm-6.col-md-6.col-md-offset-1.col-lg-5
            h1(style='font-size: 35px; margin-top: 0px; color: khaki;')
              b Welcome Visitor,
            hr
            h4 
              b I
              | 'm a Software Developer,
            h4 
              b A
              | nd a Web Developer,  
            h4 
              b A
              | nd a Data Engineer,
            h3(style='font-size: 22px; color: orangered;')
              b A
              | nd I'm AVAILABLE for HIRE!

            hr
            p Email: gregoryfullstack@gmail.com
            p Cell: (720) 393-0168
            p(style='margin-bottom: 0px') LinkedIn: 
            a(href='www.linkedin.com/in/nengyun-zhang-88715841') www.linkedin.com/in/nengyun-zhang-88715841

      hr

      div.container(style='margin-top: 20px;')
        div.row
          div.col-sm-4.col-lg-3(style='border-right: 1px solid grey;')
            h5 RECENT AWARDS
            ul
              li UA College of Engineering Outstanding Graduate Teaching Assistant - 2016

          div.col-sm-4.col-lg-3(style='border-right: 1px solid grey;')
            h5 FAVORITE QUOTE
            q The soul that sees beauty may sometimes walk alone.
            br
            br
            p(style='font-size: 14px; float: right; padding-right: 5px;') — Johann Wolfgang von Goethe

          div.col-sm-4.col-lg-3
            h5 RECENT PROJECTS
            ul(style='font-size: 13px;')
              li Amazing Davis: 
                b(style='font-size: 14px;') Da
                | ta 
                b(style='font-size: 14px;') Vis
                |ualization of 
                a(href='https://www.ncdc.noaa.gov/data-access/land-based-station-data/land-based-datasets/global-historical-climatology-network-ghcn') Global Historical Climatology Network
              li Detect Community Structure in Social Networks
 

      hr

      div.container(style='margin-top: 20px;')
        div.row
          div.col-sm-4.col-lg-3(style='border-right: 1px solid grey;')
            h5 EDUCATION
            ul(style='text-align: left; font-size: 13px;')
              li M.S. The University of Arizona, 2014/08 - 2016/12
              li B.S. Colorado State University, 2010/08 - 2014/05

          div.col-sm-4.col-lg-3(style='border-right: 1px solid grey;')
            h5 CAREER INTERESTS
            ul(style='text-align: left; font-size: 13px;')
              li Data-driven and User-interactive Web Development
              li Data Analysis and Data Mining

          div.col-sm-4.col-lg-3
            h5 HOBBIES
            ul(style='text-align: left; font-size: 13px;')
              li Snowboarding
              li Hiking
              li Rock Climbing
              li Photography

      hr

    div#Cv.tab-pane.fade(style='border: 2px solid orange; padding: 20px;')
      div.container
        //- (style='border: 1px solid purple')
        div.row
          div.col-sm-6.col-md-6.col-lg-5
            h1(style='font-size: 45px; margin-top: 0px; color: peru;')
              b CV
            h3(style='color: floralwhite;') 
              b Nengyun Zhang
            hr
            p Email: gregoryfullstack@gmail.com
            p Cell: (720) 393-0168
            p(style='margin-bottom: 0px') LinkedIn: 
            a(href='www.linkedin.com/in/nengyun-zhang-88715841') www.linkedin.com/in/nengyun-zhang-88715841

          div.col-sm-6.col-md-5.col-md-offset-1.col-lg-4
            img.img-responsive(src='images/myport_1.jpg' alt='my port' style='max-width: 260px;')

      hr

      div.container(style='margin-top: 20px;')
        div.row
          div.col-sm-6.col-lg-5
            h3 Programming Languages
            p(style='font-size: 15px') Java, C/C++, Python, Matlab
            p(style='font-size: 15px') HTML/CSS, Javascript

            br
            h5 Web Development Libraries and Frameworks
            p(style='font-size: 15px') jQuery, Bootstrap, D3, MongoDB
            p(style='font-size: 15px') ExpressJS, AngularJS, NodeJS

            br
            h5 Machine Learning and Data Manipulation Libraries
            p(style='font-size: 15px') scikit-learn, pandas, matplotlib            

          div.col-sm-6.col-lg-5
            canvas

      hr

      div.container(style='margin-top: 20px;')
        h3 Related Courses
        p Object Oriented Programming, Data Structure, Algorithm Design, Database Implementation, Computer Based System
        p Machine Learning, Artifitial Intelligence, Computer Network, Computer Architecture

      hr

      div.container(style='margin-top: 20px;')
        h3 Education
        ul
          li
            p The University of Arizona, Electrical and Computer Engineering, Tucson, AZ
            p
              b Master of Science
              | , 2014/09 - 2016/12
          li
            p Colorado State University, Electrical and Computer Engineering, Fort Collins, CO
            p
              b Bachelor of Science
              | , 2010/08 - 2014/05

      hr

      div.container(style='margin-top: 20px;')
        h3 Academic Teaching Experience
        ul
          li
            p Computation Techniques - Spring 2015, Spring 2016
          li
            p Numerical Modeling of Physics and Biological Systems - Fall 2014, Fall 2015

      hr

      div.container(style='margin-top: 20px;')
        h3 Awards
        ul
          li
            p UA College of Engineering Outstanding Graduate Teaching Assistant -  2016  
             a(href='http://ece.arizona.edu/announcing-eces-spring-2016-outstanding-students' target='_blank') Link


    div#Projects.tab-pane.fade(style='border: 2px solid orange; padding: 20px;')
      div.container
        
        div.row
          div.col-lg-10
            h1(style='text-align: center; padding: 0 0 30px 0; border-bottom: 2px solid whitesmoke; color: Beige;') Projects Gallary


      div.container(style='margin-top: 20px;')
        div.row
          div.col-sm-4.col-lg-3.projItem
            //- (style='border: 1px solid red')
            h3 Database Implementation
            a.projLink(href='#Minibase' data-toggle='modal')
              div.caption
                div.caption-content
                  i.fa.fa-search-plus.fa-3x
                  p View This Project
              img.img-responsive(src='images/minibase_logo.jpg' alt='minibase')

          div.col-sm-4.col-lg-3.projItem
            h3 Detect Community Structure
            a.projLink(href='#Community' data-toggle='modal')
              div.caption
                div.caption-content
                  i.fa.fa-search-plus.fa-3x
                  p View This Project
              img.img-responsive(src='images/community_logo.jpg' alt='community structure')

          div.col-sm-4.col-lg-3.projItem
            h3 Seam Carving
            a.projLink(href='#Seamcarving' data-toggle='modal')
              div.caption
                div.caption-content
                  i.fa.fa-search-plus.fa-3x
                  p View This Project
              img.img-responsive(src='images/seamcarving-logo.jpg' alt='seam carving')

        div.row
          div.col-sm-4.col-lg-3.projItem
            //- (style='border: 1px solid red')
            h3 UnfoldingMaps Application
            a.projLink(href='#Unfoldmap' data-toggle='modal')
              div.caption
                div.caption-content
                  i.fa.fa-search-plus.fa-3x
                  p View This Project
              img.img-responsive(src='images/unfoldmap.jpg' alt='ufmap')

          div.col-sm-4.col-lg-3.projItem
            //- (style='border: 1px solid red')
            h3 Data Compression
            a.projLink(href='#Datacomp' data-toggle='modal')
              div.caption
                div.caption-content
                  i.fa.fa-search-plus.fa-3x
                  p View This Project
              img.img-responsive(src='images/datacomp-logo.jpg' alt='datacomp')
            

          div.col-sm-4.col-lg-3.projItem
            //- (style='border: 1px solid red')
            h3 Machine Learning
            a.projLink(href='#Ml' data-toggle='modal')
              div.caption
                div.caption-content
                  i.fa.fa-search-plus.fa-3x
                  p View This Project
              img.img-responsive(src='images/ml-logo.jpg' alt='ml')
            

        div.row
          div.col-sm-4.col-lg-3.projItem
            //- (style='border: 1px solid red')
            h3 Amazing Davis
            a.projLink(href='#' data-toggle='modal')
              div.caption
                div.caption-content
                  i.fa.fa-search-plus.fa-3x
                  p View This Project
              img.img-responsive(src='images/ms.png' alt='amadav')

          div.col-sm-4.col-lg-3.projItem
            //- (style='border: 1px solid red')
            h3 Text Editor Application
            a.projLink(href='#Texteditor' data-toggle='modal')
              div.caption
                div.caption-content
                  i.fa.fa-search-plus.fa-3x
                  p View This Project
              img.img-responsive(src='images/texteditor-logo.jpg' alt='texteditor')

          div.col-sm-4.col-lg-3.projItem
            //- (style='border: 1px solid red')
            h3 Path Planing
            a.projLink(href='#' data-toggle='modal')
              div.caption
                div.caption-content
                  i.fa.fa-search-plus.fa-3x
                  p View This Project
              img.img-responsive(src='images/ms.png' alt='pp')



    div#Contact.tab-pane.fade this is contact this is contact this is contact


  div.footer-below
    div.container(style='text-align: center; margin-top: 40px; margin-bottom: 40px;')
      div.row Copyright © Nengyun Zhang 2016


  div#Minibase.modal.fade.projModal(role='dialog' aria-hidden='true')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal')
            i.fa.fa-times(style='color: white;')
          h3 Database Implementation - Minibase
        div.modal-body
          div.projDesc Collaboration of 2
            h5
              span Language: C/C++
              span(style='float: right;') Duration: 02/2016 - 05/2016
            hr

            p Minibase is a single-user database management system which contains parser, optimizer, buffer pool manager, storage mechanisms and a disk space management system. 
            p In this project, we successfully implemented low level modules of the database, including:
            ul 
              li 
                h5 Heap File and HFPage Structure
                ul(style='list-style-type: circle;')
                  li Create and Destory Heap File.
                  li Open and Close Existing Heap File.
                  li Insert and Delete Data Records.
                  li Each Data record has unique record id. A specific record can be retrieved by using its record id.
                  li Sequential Scan is Supported.

              li
                h5 Buffer Manager
                ul(style='list-style-type: circle;')
                  li Allocate and De-allocate 
                    i buffer pool.
                  li Pin and Unpin a Page to/from 
                    i buffer pool.
                  li Flush Page to Disk.
                  li LOVE/HATE Replacement Policy is Implemented.

              li 
                h5 B+ Tree File Structure
                ul(style='list-style-type: circle;')
                  li
                    i SortedPage 
                    | class is Implemented.
                  li 
                    i IndexPage 
                    | and 
                    i LeafPage 
                    | classes are Implemented and Derived from 
                    i SortedPage.
                  li On Insert, Split Page When Necessary to Keep B+ Tree Balanced.
                  li De-allocate Page When Page is Empty.
                  li In-order Scan is Supported.
              
              li 
                h5 Sort Merge Join
                ul(style='list-style-type: circle;')
                  li Joins Two Relations R and S Using Sort-merge Join Algorithm.
                  li Tuple Compare Function is Implemented.
                  li Scan Cursor can be Positioned to Any Record within the File.

        div.modal-footer
          button.btn.btn-default(type='button' data-dismiss='modal') Close

  div#Community.modal.fade.projModal(role='dialog' aria-hidden='true')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal')
            i.fa.fa-times(style='color: white;')
          h3 Detect Community Stucture In Social Networks
        div.modal-body
          div.projDesc
            h5
              span Language: Java
              span(style='float: right;') Duration: 07/2016 - 07/2016
            hr

            p Networks, especially Social Networks, often present Community Structure - 
              q a Network is said to have Community Structure if the nodes of the network can be grouped into sets of nodes such that each set of nodes is densely connected internally. 
              | - Wikipedia
            
            p In this project, I successfully implemented the following parts:
            ul
              li
                h5 Girvan-Newman Algorithm
                ul(style='list-style-type: circle;')
                  li Graph is Implemented as Ajacency List.
                  li Rotation-invariant Hashcode is Implemented for the Edge.
                  li Compute "betweenness" of Each Edge.
                  li Modularity Function is Implemented to Determine the Termination Condition.
              
              li 
                h5 GML Parser
                ul(style='list-style-type: circle;')
                  li GML: Graph Modeling Language.

              li
                h5 Graph Visualization
                ul(style='list-style-type: circle;')
                  li Use Open Source Library - Graphstream to draw the Force-Directed Graph.

            hr

            h4 Project Demostration:
            p (Left graphs are original graphs, right graphs are colored according to their community structure)

            div.demoImg-sq-left
              img.img-responsive(src='images/karate_in_smsq.jpg' alt='original graph 1')

            div.demoImg-sq-left
              img.img-responsive(src='images/karate_out_smsq.jpg' alt='output graph 1')
              
            div(style='clear: both; margin-bottom: 30px;')
              p Fig. 1 - 
                a(href='http://www-personal.umich.edu/~mejn/netdata/karate.zip')
                  | Zachary's Karate Club
                | : social network of friendships between 34 members of a karate club at a US university in the 1970s.

            div.demoImg-sq-left
              img.img-responsive(src='images/lesmis_in_smsq.jpg' alt='original graph 2')

            div.demoImg-sq-left
              img.img-responsive(src='images/lesmis_out_smsq.jpg' alt='output graph 2')

            div(style='clear: both; margin-bottom: 30px;')
              p Fig. 2 -
                a(href='http://www-personal.umich.edu/~mejn/netdata/lesmis.zip') Les Misérables
                | : coappearance network of characters in the novel Les Misérables.
            
            div.demoImg-sq-left
              img.img-responsive(src='images/commu_in_smsq.jpg' alt='original graph 3')

            div.demoImg-sq-left
              img.img-responsive(src='images/commu_out_smsq.jpg' alt='output graph 3')

            div(style='clear: both; margin-bottom: 30px;')
              p Fig. 3 - 
                a(href='http://www-personal.umich.edu/~mejn/netdata/netscience.zip') Coauthorships in network science
                | : coauthorship network of scientists working on network theory and experiment.
        div.modal-footer
          button.btn.btn-default(type='button' data-dismiss='modal') Close


  div#Seamcarving.modal.fade.projModal(role='dialog' aria-hidden='true')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal')
            i.fa.fa-times(style='color: white;')
          h3 Seam Carving
        div.modal-body
          div.projDesc
            h5
              span Language: Java
              span(style='float: right;') Duration: 01/2016 - 01/2016
            hr

            p Seam Carving is a content-aware image resizing. It functions via removing seams which contains least energy from end to end.
            
            q The purpose of the algorithm is image retargeting, which is the problem of displaying images without distortion on media of various sizes using document standards, like HTML, that already support dynamic changes in page layout and text but not images

            p(style='float: right;') - Wikipedia

            p(style='clear: both;') In this project, I successfully implemented the following parts:
            ul
              li
                h5 Seam Carving
                ul(style='list-style-type: circle;')
                  li Use java.awt.Color class to extract picture information.
                  li Implement Dual Gradient Energy Function to Computed Energy of Each Pixel.
                  li Reverse Post Order Traversal of a Graph
                  li Depth First Search to Find the Seam with Least Energy.

            hr

            h4(style='clear: both;') Project Demostration:
            p (Left graphs are resized images while right graphs are original images)

            div.demoImg-rect-left
              img.img-responsive(src='images/chameleon_cutted.png' alt='chameleon')

            div.demoImg-rect-left
              img.img-responsive(src='images/chameleon_original.png' alt='chameleon')
              
            div(style='clear: both; margin-bottom: 30px;')
              p Fig. 1 - Chameleon

            div.demoImg-rect-left
              img.img-responsive(src='images/hjocean_cutted.png' alt='ocean')

            div.demoImg-rect-left
              img.img-responsive(src='images/hjocean_original.png' alt='ocean')
              
            div(style='clear: both; margin-bottom: 30px;')
              p Fig. 2 - Ocean
                

        div.modal-footer(style='clear: both;')
          button.btn.btn-default(type='button' data-dismiss='modal') Close

  div#Texteditor.modal.fade.projModal(role='dialog' aria-hidden='true')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal')
            i.fa.fa-times(style='color: white;')
          h3 Text Editor
        div.modal-body
          div.projDesc
            h5
              span Language: Java
              span(style='float: right;') Duration: 05/2016 - 05/2016
            hr

            p In this project, I successfully implemented part of the text editor application, including:
            ul
              li
                h5 Construct A Trie Structure to Store the Dictionary.
              li
                h5 Implement Spelling Suggestions Function.
              li 
                h5 Implement Text Auto Complete Function.
              li
                h5 Computing Flesch Index.
              li 
                h5 Tiny Game - Edit Distance
                ul(style='list-style-type: circle;')
                  li Find the Minimum Number of Hops to Transform One Word to Another
                  li Each Hop, One Can Only Insert or Delete or Modify One Character.
              li 
                h5 Tiny Game - Generate Markov Text
                ul(style='list-style-type: circle;')
                  li With Given Context, Generate Random Language-like Texts.

            hr

            h4 Project Demostration:
            br
            div(align='center')
              video(style='max-width: 640px;' controls )
                source(src='images/texteditor-720.mp4' typ='video/mp4')

        div.modal-footer(style='clear: both;')
          button.btn.btn-default(type='button' data-dismiss='modal') Close


  div#Unfoldmap.modal.fade.projModal(role='dialog' aria-hidden='true')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal')
            i.fa.fa-times(style='color: white;')
          h3 Global Earthquake Data Visualization With Unfolding Maps
        div.modal-body
          div.projDesc
            h5
              span Language: Java
              span(style='float: right;') Duration: 04/2016 - 04/2016
            hr

            p The goal of this project is to implement an application to visualize the global earthquake data in the past 24 hours. 

            p The features of this application includes:
            ul
              li 
                h5 Use Java Processing Library
              li 
                h5 User Interactive
                ul(style='list-style-type: circle;')
                  li Hover over Mark to View Detailed Info.
                  li Click Mark to Concentrate on the Clicked Mark.
              li 
                h5 Multiple Categories of Data
                ul(style='list-style-type: circle;')
                  li Different Marks for City, Land Quake and Ocean Quake.
                  li Mark Varies According to the Size, Time and Depth of the Quake.

            hr

            h4 Project Demostration:
            br
            div(align='center')
              video(style='max-width: 640px;' controls )
                source(src='images/unfoldmap-720.mp4' typ='video/mp4')

        div.modal-footer(style='clear: both;')
          button.btn.btn-default(type='button' data-dismiss='modal') Close


  div#Datacomp.modal.fade.projModal(role='dialog' aria-hidden='true')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal')
            i.fa.fa-times(style='color: white;')
          h3 Practical Data Compression Algorithm
        div.modal-body
          div.projDesc
            h5
              span Language: Java
              span(style='float: right;') Duration: 02/2016 - 02/2016
            hr

            p The goal of this project is to implement an practical lossless data compression algorithm. 

            p In this project, I have successfully implemented the following parts: 
            ul
              li 
                h5 Burrows-Wheeler Transform
                ul(style='list-style-type: circle;')
                  li ( purpose ) Rearrange the Characters in the Original Text to Group Up All Repeated Character.
                  li ( encoder ) Implement Circular Suffix Array to Group Up Common All Preceding Charaters.
                  li ( decoder ) Deduce the Original String from the Last Column of the Sorted Suffixes and Index of the Original String in the Sorted Suffixes.

              li 
                h5 Move-To-Front Encoding
                ul(style='list-style-type: circle;')
                  li ( purpose ) Map Alphabet to Index. If Same Character Appear to Each Other Frequently, the Output Index will Contain Many Small Numbers.
                  li ( encoder ) Initialize Ordered Sequence of All Characters. Read Character, Write its Index and Move the Character to the Front of the Sequence.
                  li ( decoder ) Initialize Ordered Sequence of All Characters. Read Index i, Output the i-th Character in the Ordered Sequence and Move the Character to the Front of the Sequence.
              li 
                h5 Huffman Compression
                ul(style='list-style-type: circle;')
                  li ( purpose ) Compress Data. If there're Lots of Small Characters, the Compression Ratio will be Very High.
                  li ( encoder ) Construct a Binary Trie Structure to Encode Data.
                  li ( decoder ) Reconstruct the Binary Trie Structure and Decode Data.
                  

            hr

            h4 Project Demostration:
            br
            div(align='center')
              img.img-responsive(src='images/datacomp-fig-1.jpg' alt='original' style='max-height: 350px; width: auto; border: 1px solid #ccc;')
              p Fig. 1 - Character Distribution In the Original Text.
              p [Data Size = 192KB]
              br

            div(align='center')
              img.img-responsive(src='images/datacomp-fig-2.jpg' alt='original' style='max-height: 350px; width: auto; border: 1px solid #ccc;')
              p Fig. 2 - Character Distribution After Burrows-Wheeler Transform. Notice that Characters are Less Scattered.
              p [Data Size = 192KB]
              br

            div(align='center')
              img.img-responsive(src='images/datacomp-fig-3.jpg' alt='original' style='max-height: 350px; width: auto; border: 1px solid #ccc;')
              p Fig. 3 - Character Distribution After Move-To-Front Encoding. Notice that Original Characters are Mapped to 'Small' Characters and Highly Clustered.
              p [Data Size = 192KB]
              br

            div(align='center')
              img.img-responsive(src='images/datacomp-fig-4.jpg' alt='original' style='max-height: 350px; width: auto; border: 1px solid #ccc;')
              p Fig. 4 - Character Distribution After Huffman Compression. 
              p [Data Size = 66KB]
              br

        div.modal-footer(style='clear: both;')
          button.btn.btn-default(type='button' data-dismiss='modal') Close


  div#Ml.modal.fade.projModal(role='dialog' aria-hidden='true')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal')
            i.fa.fa-times(style='color: white;')
          h3 Machine Learning Algorithms Implementation Practice
        div.modal-body
          div.projDesc
            h5
              span Language: Python
              span(style='float: right;') Duration: 11/2015 - 02/2016
            hr

            p The goal of this project is to implement a variaty of machine learning algorithms in order to gain a solid understanding of its mechanism. 

            p Implemented Algorithms:
            ul
              li 
                h5 Regressions
                p Case Studied: Train a Model to Predict House Prices Given Dataset of House Features and Real Prices.
                ul(style='list-style-type: circle;')
                  li Polynomial Regression
                  li Ridge Regression
                  li Lasso Regression
                  li Cross-validation
                  li Gradient Descent Algorithm
                  li Coordinate Descent Algorithm
              li 
                h5 Classifications
                p Case Studied: Train a Classifier to Predict Customer Sentiment Given Dataset of Comments from Customer.
                ul(style='list-style-type: circle;')
                  li Logistic Regression With Regulation
                  li Stochastic Gradient Ascent
                  li Descision Tree With Pruning Algorithm
                  li AdaBoost Ensemble Method
              li 
                h5 Clusterings
                p Case Studied: Train a Model to Cluster Articles about Famous People From Wikipedia. 
                ul(style='list-style-type: circle;')
                  li Locality Sensitive Hashing Algorithm 
                  li K-means
                  li Expectation Maximization
                  li Latent Dirichlet Allocation
                  li Concept learned: MapReduce
              li
                h5 Problems Solving
                ul(style='list-style-type: circle;')
                  li Implement Metropolis-Hastings Algorithm to Infer Coordinate of of a 3-D Line from a Noisy 2-D Line.
                  li Train a Simple Neural Network to Identify Images from MNIST Dataset.


        div.modal-footer(style='clear: both;')
          button.btn.btn-default(type='button' data-dismiss='modal') Close








