

@media screen and (min-width: 805px) {
  div.navbar-header {
    margin-left: 20px;
  }

  ul.nav {
    margin-right: 20px;
  }
}

@media screen and (max-width: 1199px) {
  .tab-content > div {
    margin-left: 10px;
    margin-right: 10px;
  }

  #RedunctInfoLg {
    display: none;
  }
}

@media screen and (min-width: 1200px) {

  #Home > .container:nth-of-type(2),
  #Home > .container:nth-of-type(3) {
    margin-left: 50px;
  }

  #Projects .col-lg-10 {
    margin-left: 10px;
  }

  #Projects .projItem {
    padding: 0px;
    margin: 15px;
  }

  .BriefIntro {
    width: 355px;
  }

  #myCanvasContainer {
    margin-left: 100px;
  }

  #CVPORT {
    margin-left: 220px;
  }

  .SchoLogo {
    padding-right: 60px;
  }
}

@media screen and (max-width: 767px) {
  #Home > .container:nth-of-type(2) .col-sm-4,
  #Home > .container:nth-of-type(3) .col-sm-4{
    border: 1px solid gray;
  }
}


