
#myNavbar {
  height: 60px;
}

#pageTop {
  height: 80px;
}

#myName {
  font-size: 40px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#myPosition {
  font-size: 15px;
  font-weight: normal;
  margin-top: 15px;
}

#myButton {
  margin-top: 10px;
}

#myTopNavbar {
  margin-top: 5px;
}

.well {
  max-width: 900px;
}


#myContentTop {
  width: 90%;
}


.smallSection {
  height: 120px;
  border: 1px solid #898989;
  border-radius: 10px;
  padding: 5px;
  padding-top: 12px;

}




#myContentMiddle {
  width: 90%;
}