* {
  /*border: 1px solid lightblue;*/
}

body {
  background-color: #fff;
  color: black;
}

a {
  color: DarkKhaki;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 100px;
    height: 100px;
    padding-top: 0;
}

/*#navMenu .in {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}*/

#navMenu ul li {
  padding-right: 10px;
}

#Home > .container:nth-of-type(2) h5,
#Home > .container:nth-of-type(3) h5 {
  text-align: center;
  /*color: DarkTurquoise;*/
  color: #70AB01;
  font-size: 18px;
  font-weight: normal;
}

#Home > .container:nth-of-type(2) .col-sm-4,
#Home > .container:nth-of-type(3) .col-sm-4 {
  min-height: 160px;
}

#Cv h4 {
  color: #343434;
}

#Cv p {
  color: #454545;
}

#Cv h3 {
  color: #70AB01;
}

#Cv h5 {
  color: #343434;
}

.SchoLogo {
  padding-right: 140px !important;
}

#Projects .projItem {
  /*position: relative;*/
  right: 0;
  margin: 0 0 15px;
  padding: 10px;
}

#Projects .projItem h3 {
  text-align: center;
  color: #556677;
  /*color: MediumAquaMarine;*/
  font-size: 15px;
  /*height: 40px;*/
}

#Projects .projItem .projLink {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 400px;
}

#Projects .projItem .projLink .caption {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(255,255,255,.5);
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
}

#Projects .projItem .projLink .caption .caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  font-size: 20px
  color: #fff;
}

#Projects .projItem .projLink .caption .caption-content i{
  margin-top: -12px;  
}

#Projects .projItem .projLink .caption:hover {
  opacity: 1;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-header {
  background-color: #cdcdcd;
}

.modal-header h3 {
  text-align: center;
  color: #70AB01;
  font-weight: bold;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  background-color: #efefef;

}

.modal-footer {
  text-align:center;
}

.projModal {
  width: 75%;
  height: 100%;
  margin: auto;
}

.projDesc {
  padding: 0 20px;
}

.projDesc h5 {
  color: #334455;
}


.demoImg-sq-left img{
  
  width: 100%;
  border: 1px solid #ccc;
}

.imgDesc {
  padding: 15px;
  padding-top: 30px;
  text-align: center;
  clear: both;
}


.demoImg-rect-left {
  margin: 10px;
  float: left;
}

.demoImg-rect-left img {
  max-height: 200px;
  width: auto;
  border: 1px solid #ccc;
}

